
body {
    background: #FFF;
}
a {
    transition: all .3s;
    color: #6aacdb;
    &:hover {
        color:darken(#6aacdb, 10%);
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}
.cl-secondary {
    color: #aba4ac;
}
:root {
--plyr-color-main:#6aacdb;
}